@import url('https://fonts.googleapis.com/css?family=Teko');
@import './widget.css';
@import './widget-switch.css';
@import './widget-status-indicator.css';

html {     
    background-color: #1d1d21;
    background-image: url(../../assets/images/micro-carbon.png);
    
    /* Disable highlighting when tapped */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

}

body {
    margin: 0;
    padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #368bcb;
}

@keyframes fadeInOut {
    0% { text-shadow: 0 0 10px yellow; color: yellow; }
    50% { text-shadow: 0 0 0 #333; color: #333; }
    100% { text-shadow: 0 0 10px yellow; color: yellow; }
}


.toolbar {
  text-align: center;
  background: #0c0c0a;
  height: 0;
  border-bottom: 1px solid #333;
  background-image: url(../../assets/images/micro-carbon.png);

      font-family: 'Teko', sans-serif;
    font-size: 22px;
    color: #FFEB3B;
    text-shadow: 0 0 10px yellow;

    animation: fadeInOut 1s infinite;
    /* animation-iteration-count:infinite; */
    /* transition: height .5s ease; */
}

.toolbar--active {
  height: 30px;
    padding: 5px;
  
}


.toolbar--logo {
  width: 100px;
  height: 20px;
  float: left;
  opacity: .15;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/domusto-logo.svg);
}
