.toolbar--nav {
    display: none;
}

@media screen and (min-width: 640px) {

    .toolbar--nav {
        display: block;
        background-color: black;
        background-image: url(../../assets/images/micro-carbon.png);
        background-repeat: repeat;
        background-position: center;
        background-size: auto;
        margin-top: 2px;
        border-right: 1px solid black;
    }

    .toolbar--nav .toolbar__button {
        cursor: pointer;
        outline: none;
        width: 99px;
        background: transparent;
        border: 0;       
        font-family: 'Teko', sans-serif;
        font-size: 22px;
        color: #444;
        transition: color .4s, border-color .2s, text-shadow .4s;
        overflow: hidden;
        word-wrap: break-word;

    }

    .toolbar--nav .toolbar__button--active {
        color: #FFEB3B;
        text-shadow: 0 0 10px yellow;
        z-index: 2;
    }

}