

.widget {
  --widget-label-color: white;
  padding: 10px;
  margin: 10px;
  float: left;
  border: 2px solid #1d1d21;
  border-radius: 6px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  box-shadow: 1px 1px 2px #52525a;
  position: relative;

  /* transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out; */
  flex-grow: 1;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;

}


.widget--input {
    border-radius: 0;
    border-width: 2px;
    background: linear-gradient(to bottom, rgba(47, 47, 47, 1) 0%, rgba(33, 33, 33, 1) 100%);
    width: 124px;
    height: 200px;
}

.widget--input .widget__title {
  position: absolute;
  width: 100%;
  font-size: 25px;
  bottom: 0;
  left: 0;
}


.widget__title {
  font-size: 18px;
  color: #828282;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #584b4b, -1px -1px 1px #0a0a0a;
}

.widget__label {
  /* color: #a0cb36; */
  text-shadow: 1px 1px 1px #584b4b, -1px -1px 1px #0a0a0a;
  color: var(--widget-label-color);
  font-size: 20px;
}


.widget__label--power {
  font-size: 100px;
  line-height: 180px;
}
.widget__label--temperature {
  font-size: 200px;
  line-height: 180px;
}
.widget__label--temperature-decimal {
  font-size: 4em;
}
.widget__label--temperature-units {
  font-size: 2em;
  top: 18px;
  position: absolute;
}


.widget__label--humidity {
  position: absolute;
  font-size: 25px;
  bottom: 0;
  left: 10px;
}