

.widget {
  --widget-label-color: white;
  padding: 10px;
  margin: 10px;
  float: left;
  border: 4px solid #1d1d21;
  border-radius: 8px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  box-shadow: 1px 1px 2px #52525a;
  position: relative;

  /* transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out; */
    flex-grow: 1;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;

}


.widget--th {
    border-radius: 0;
    border-width: 2px;
    background: linear-gradient(to bottom, rgba(47, 47, 47, 1) 0%, rgba(33, 33, 33, 1) 100%);
    width: 124px;
    height: 54px;
}



.widget__title {
  font-size: 18px;
  color: #828282;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #584b4b, -1px -1px 1px #0a0a0a;
}

.widget__label {
  /* color: #a0cb36; */
  text-shadow: 1px 1px 1px #584b4b, -1px -1px 1px #0a0a0a;
  color: var(--widget-label-color);
  font-size: 20px;
}

