.widget {
  width: 120px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  float: left;
  border: 4px solid #1d1d21;
  border-radius: 8px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  box-shadow: 1px 1px 2px #52525a;
  position: relative;
}

.widget:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(59, 59, 59, 1) 0%, rgba(33, 33, 33, 1) 100%);
  z-index: -1;
  left: 0px;
  top: 0;
}

.widget--switch {
    cursor: pointer;
}

.widget--switch .widget__title {
    font-size: 24px;
    line-height: 50px;
}

.widget__title {
  font-size: 18px;
  color: #828282;
  text-transform: uppercase;
}

.widget__label {
  /* color: #a0cb36; */
  color: white;
  font-size: 20px;
}

.widget__status-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    width: 15px;
    height: 5px;
    border-width: 1px;
    border-style: solid;
    border-color:  #252525;
    background-color: #212325;
    box-shadow: 1px 1px 1px #0c0c0c inset;
}

.widget__status-indicator--green {
    border-color:  #6ad46a;
    background-color: lime;
    box-shadow: 0 0 10px lime;
}
.widget__status-indicator--orange {
    border-color:  #e29200;
    background-color: orange;
    box-shadow: 0 0 10px orange;
}
.widget__status-indicator--yellow {
    border-color:  #F3F372;
    background-color: yellow;
    box-shadow: 0 0 10px yellow;
}
.widget__status-indicator--violet {
    border-color:  #e68de6;
    background-color: violet;
    box-shadow: 0 0 10px violet;
}
.widget__status-indicator--violet {
    border-color:  #a6f7f7;
    background-color: cyan;
    box-shadow: 0 0 10px cyan;
}

.widget__status-indicator-value {
  border-radius: 2px;
  height: 10px;
  background: green;
}